.team__top {
    margin-top: 50px;
    margin-bottom: 85px;
    text-align: center;
}

.team__top-suptitle {
    color: #FC0;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.team__top-title {
    color: #000;
    font-family: Poppins;
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 25px;
}

.team__top-img {
    margin-bottom: 5px;
}

.team__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}

.team__row_item {
   margin: 10px;
}

.team__row_item-img {
    margin-bottom: 35px;
}

.team__row_item-title {
    color: #231900;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.team__row_item-subtitle {
    color: #231900;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

@media (max-width: 1285px) {
    .team__wrap {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width: 1200px) {
    .team__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .team__row_item {
        margin: auto;
        gap: 40px;
    }
}

@media (max-width: 635px) {
    .team__row_item-img {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .team__top-suptitle {
        font-size: 14px;
    }

    .team__top-title {
        font-size: 34px;
    }

    .team__top-img {
        width: 100%;
    }

    .team__row_item-title {
        font-size: 16px;
    }

    .team__row_item-subtitle {
        font-size: 14px;
    }
}

